.side-bar {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: -100%;
  transition: all 250ms;
}

.side-bar.active {
  right: 0;
  transition: 550ms;
}

.side-bar__menu {
  padding: 159px 0 90px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  position: absolute;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  right: 0;
}

.side-bar__blackout {
  background-color: rgba(0, 0, 0, 0.300);
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  transition: all 250ms;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: -100%;
  transition: all 250ms;
}

.side-bar__blackout.active {
  display: block;
  transition: 550ms;
}

.side-bar__menu-cross {
  position: absolute;
  top: 23px;
  right: 23px;
  background-image: url(../../../images/icons/cross-icon.svg);
  width: 22px;
  height: 22px;
}

.side-bar__menu-items {
  display: flex;
  flex-direction: column;
  gap: 28px;
  list-style: none;
}

.side-bar__menu-items-item-link {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: opacity 0.2s ease;
}

.side-bar__menu-items-item-link.active {
  padding-bottom: 7px;
  border-bottom: solid black 2px;
}

.side-bar__menu-items-item-link:hover {
  opacity: 0.7
}

@media screen and (max-width: 320px) {
  .side-bar__menu {
    padding: 144px 0 46px;
    width: 100%;
  }
  .side-bar__menu-items {
    gap: 24px;
  }
  .side-bar__menu-cross {
    top: 14px;
    right: 14px;
  }
}