.header {
  background-color: white;
  padding: 18px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_main {
  background-color: #073042 !important;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__auth-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__burger-menu-icon {
  display: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.header__burger-menu-icon:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 15px 30px;
  }
  .header__nav {
    display: none;
  }
  .header__nav__link {
    font-size: 22px;
  }
  .header__burger-menu-icon {
    display: block;
  }
  .header__account-btn {
    display: none !important;
  }
}

@media screen and (max-width: 320px) {
  .header__auth-nav {
    gap: 14px;
  }
}