.header {
  background-color: white;
  padding: 18px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_main {
  background-color: #073042 !important;
}

.header__nav {
  display: flex;
  gap: 16px;
}

.header__burger-menu-icon {
  display: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.header__burger-menu-icon:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 15px 30px;
  }
  .header__nav {
    display: none;
  }
  .header__burger-menu-icon {
    display: block;
  }
  .header__account {
    display: none !important;
  }
}