.btn {
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  text-decoration: none;
  transition: opacity 0.15s ease-out;
}

.btn:hover {
  opacity: 0.8;
}