.search-movie {
  background-color: white;
  padding: 145px 70px 48px;
  display: flex;
  justify-content: center;
}

.search-movie__content {
  max-width: 1846px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
  border-bottom: 1px solid #A0A0A0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;
}

.form__input {
  width: 100%;
  font-size: 28px;
  font-weight: 500;
  border: none;
  outline: none;
}

@media screen and (max-width: 1024px) {
  .search-movie {
    padding: 154px 30px 61px;
  }
}

@media screen and (max-width: 600px) {
  .search-movie {
    padding: 164px 14px 51px;
  }
  .form {
    padding-bottom: 15px;
  }
  .form__input {
    font-size: 18px;
    line-height: normal;
  }
}