.search-movie {
  padding: 70px 70px 48px;
  display: flex;
  justify-content: center;
}

.search-movie__content {
  max-width: 1846px;
  width: 100%;
}

.search-movie__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-form__err {
  color: #FF004C;
  font-size: 11px;
  margin-top: 5px;
}

.search-movie__form-input:disabled {
  background: none !important;
}

.search-movie__input-block {
  display: flex;
  width: 100%;
  padding-bottom: 13px;
  border-bottom: 1px solid #A0A0A0;
}

.search-movie__form-input {
  width: 100%;
  font-size: 28px;
  font-weight: 500;
  border: none;
  background: none;
  outline: none;
}

.search-movie__form-input::placeholder {
  color: #A0A0A0;
}

.search-movie__form-input:focus ~ .search-movie__input-block {
  border-bottom: 1px solid #3456F3;
}

.search-movie__form-find-btn {
  padding: 8px 12px;
  color: white;
  background-color: #3456F3;
  border-radius: 48px;
  font-size: 11px;
  line-height: 18px;
  margin-left: 10px;
}
.search-movie__form-find-btn:disabled {
  background-color: #A0A0A0;
}

@media screen and (max-width: 768px) {
  .search-movie {
    padding: 80px 30px 61px;
  }
}

@media screen and (max-width: 550px) {
  .search-movie {
    padding: 83px 14px 51px;
  }
  .search-movie__form {
    padding-bottom: 10px;
  }
  .search-movie__form-input {
    font-size: 18px;
    line-height: normal;
  }
}