.not-found-page {
  height: 100%;
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-page__content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.not-found-page__title {
  font-size: 140px;
  font-weight: 400;
  margin: 0;
}

.not-found-page__subtitle {
  font-size: 16px;
  margin-top: 9px;
}

.back-btn {
  font-size: 14px;
  color: #3456F3;
  align-self: center;
  margin-top: 184px;
}

@media screen and (max-width: 550px) {
  .not-found-page__title {
    font-size: 80px;
  }
  .not-found-page__subtitle {
    font-size: 12px;
    margin-top: 10px;
  }
  .back-btn {
    font-size: 12px;
    margin-top: 284px;
  }
}